.navbar-collapse{
    flex-grow: 0;
}

.sec1-bc{
    background-color: #2fbc9c;
}
.sec1 img{
    width: 100%;
}
.line-white{
    border: 1px solid white;
    width: 100%;
}
.line-black{
    border: 1px solid black;
    width: 100%;
}